<div class="main">

  <div class="body text-center" style="color: rgb(238, 242, 245);">

    <button mat-flat-button color="primary" aria-label="Example icon button with a menu icon" (click)="toggleAccount()" style="margin-bottom: 3%;">
      Cambiar Cuenta
    </button>

    <div class="welcome" *ngFor="let user of actualUser | async">

      <h1 *ngIf="!dolarAccount">Hola <span class="text-capitalize">{{user.info.name  }}</span>, tu saldo en pesos
        es de
        {{user.accounts.pesos | currency}}
      </h1>
       <h1 *ngIf="dolarAccount">Hola <span class="text-capitalize">{{user.info.name  }}</span>, tu saldo en dolares
        es de
        {{user.accounts.dolar | currency}}
      </h1> 
     </div>  
    
    <div class="main-button">
      <button mat-flat-button color="primary" aria-label="Example icon button with a menu icon"
        [routerLink]="['/dashboard/charge/add']">
        Agregar Saldo
      </button>
      <button mat-flat-button color="primary" aria-label="Example icon button with a menu icon"
        [routerLink]="['/dashboard/charge/payment']">
        Agregar gasto
      </button>
    </div>
    <button mat-flat-button color="primary" aria-label="Example icon button with a menu icon"
      [routerLink]="['/dashboard/payment/exchangeBuy']">
      Comprar dolares
    </button>
    <button mat-flat-button color="primary" aria-label="Example icon button with a menu icon"
    [routerLink]="['/dashboard/payment/exchangeSend']">
    Vender dolares
  </button>
    <div class="dolarDetail" *ngIf="dolarAccount">
      COMPRA: {{compra}} | VENTA:{{venta}}

    </div>

  </div>

</div>
