
  <div class="main">
  <mat-form-field appearance="standard" style="background-color: white;">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
  </mat-form-field>
  <div class="mat-elevation-z8 ">
    <table mat-table [dataSource]="dataSource" matSort>

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Name Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
        <td mat-cell *matCellDef="let element"> {{element.date }} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="concept">
        <th mat-header-cell *matHeaderCellDef> Concepto </th>
        <td mat-cell *matCellDef="let element"> {{element.concept}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef> Monto </th>
        <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
      </ng-container>

      <!--  -->
      <ng-container matColumnDef="currency">
        <th mat-header-cell *matHeaderCellDef> Moneda </th>
        <div class="content-center">
          <td mat-cell *matCellDef="let element" class="text-capitalize">
            {{element.currency }}
          </td>
        </div>

      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>

</div>